{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel='stylesheet' href='{% static "css/style.css" %}' />
    <link rel='stylesheet' href='{% static "css/custom.css" %}' />
<body>
<div class="wrapper">
<div class="container">


{% block header %}
    {% include "header.html" %} <!-- подключаем «шапку» сайта -->
{% endblock %}
<div class="col-md-12" id="heading">
	<h1>About us</h1>
</div>

<div class="row">
{% block main_menu %}
      {% include "main_menu.html" %} <!-- подключаем «шапку» сайта -->
      {% endblock %}
{% for obj in prof_list %}




    <div class="col-md-4">
    <div class="thumbnail">
        <tbody>
         <tr>
           <td>{{ forloop.counter }}</td>
             <li>
             <td>
                 <a href="#">Біографія</a>{{ obj.name}}
             </td></li>
             <li>
             <td>
                 <a href="#">Курси</a>{{ obj.surname}}
             </td></li>
             <li>
             <td>
                 <a href="#">Контакти</a>{{ obj.bio}}
             </td>
             </li>

        </tr>
        </tbody>
    </div>
  </div>
<hr/>

{% endfor %}

</div>



{% block footer %} <!-- подключаем «подвал» сайта -->
    {% include "footer.html" %}
{% endblock %}

</div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Javascripts Section -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</div>
</body>


</html>