<div class="row">
		<header>
            <div class="col-md-2">
            <a href="/page"><img src="/home/dmitro/2017_zavada/labz/labz/src/static/img/logo.png" width="150" height="150" alt=""></a>
			</div>
            <div class="col-md-5">
                <h3>Кафедра інформаційних систем в менеджменті </h3>
            </div>
            <div class="col-md-5">
                <form name="search" action="#" method="get" class="form-inline form-search pull-right">
				<div class="input-group">
					<label class="sr-only" for="searchInput">Search</label>
					<input class="form-control" id="searchInput" type="text" name="search" placeholder="Search">
					<div class="input-group-btn">
						<button type="submit" class="btn btn-primary">GO</button>
					</div>
				</div>
			    </form>
            </div>
		</header>
</div>
<div class="row">
		<nav class="navbar navbar-default">
			<ul class="nav navbar-nav">
				<li><a href="/home/">Home</a></li>
				<li class="active"><a href="/about/">About us</a></li>
				<li><a href="/services/">Services</a></li>
				<li><a href="/partners/">Partners</a></li>
				<li><a href="/customers/">Customers</a></li>
				<li><a href="/projects/">Projects</a></li>
				<li><a href="/careers/">Careers</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
		</nav>

</div>